{% load static %}
<html>
<head>
	<title>Mega Trends</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/eshop.css' %}">
	<link rel="shortcut icon" href="{% static 'images/logo1.ico' %}">
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<style>
		.tooltip-inner {
			color: white;
			text-align: center;
			background-color: red;
			border-radius: .25rem;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="height:100px">
		<a href="{% url 'home' %}"><img src="{% static 'images/logo.jpg' %}" alt="IMR" style="float:left;height:100px;width:160px;object-fit: unset"></a>
		<a class="navbar-brand" href="/"><b>Mega Trends</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" style="margin-top:6" href="{% url 'home' %}">Home</a>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" style="margin-top:6" href="#" id="navbardrop" data-toggle="dropdown">
						Categories
					</a>
					<div class="dropdown-menu">
						{% for category in categories %}
						<a class="dropdown-item" href="{% url 'category_detail' pk=category.name flr='price_asc' %}">{{category.name}}</a>
						{% endfor %}
					</div>
				</div>
				<a class="nav-item nav-link" style="margin-top:6" href="{% url 'contact_us' %} ">Contact Us</a>
			</div>
				<div class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<div class="nav-item nav-link " style="margin-top:6">Welcome {{ user.username }}</div>
					{% if c is 0 %}
					<a href="{% url 'v_cart' %}" class="nav-item nav-link " data-toggle="tooltip" title="Cart Empty"><i class="fa fa-shopping-cart" style="color:lightgreen;font-size: 24pt"></i></a>
					{% else %}
					<a href="{% url 'v_cart' %}" class="nav-item nav-link " data-toggle="tooltip" title="Items: {{cart.items.all.count}}"><i class="fa fa-shopping-cart" style="color:lightgreen;font-size: 24pt"></i></a>
					{% endif %}
					<a class="nav-item nav-link btn btn-danger ml-4 text-light" href="{% url 'logout' %}">Logout</a>
				{% else %}
					<a class="nav-item nav-link btn btn-success ml-4  text-light" style="margin-top:6" href="{% url 'login' %}">Login</a>
					<a class="nav-item nav-link btn btn-info ml-3  text-light" style="margin-top:6" href="{% url 'signup' %} ">Sign Up</a>
				{% endif %}
				</div>
		</div>
	</nav>
	{% block content %}
	{% endblock %}
	<footer class="page-footer font-small black">
		<div class="footer-copyright text-center py-3">&#169;  Mega Trends 2021
			<br><small class="text-muted">All rights reserved!</small>
		</div>
	</footer>
</body>
</html>
